# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
/**/.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cypress Dashboard videos
/cypress/videos
cypress/videos/favoritePeople-page.spec.js.mp4
cypress/videos/home-page.spec.js.mp4
cypress/videos/movieDetails-page.spec.js.mp4
cypress/videos/navigation.spec.js.mp4
cypress/videos/people-page..spec.js.mp4
cypress/videos/peopleDetails-page.spec.js.mp4
cypress/videos/upcoming&watchlist.spec.js.mp4